main {
    margin-top : 5em; 
    width: 100%;
    height: auto;
    text-align: center;
    overflow : hidden;
}

html
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body
{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

button
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
    border: 2px solid black;
    padding: 1.5em;
    display : inline-block;
    /*size button*/
    width : 15em ;
    height : 8em ;
    /*center button*/
    position: absolute;
    top : 60vh;
    left : 50vw;
    transform: translate(-50%, -50%);
    z-index : 1;
}


button:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    cursor : pointer;
}



.shuffle {
    display : block;
}

.text{
    display: none;
}

.active{
    display: inline;
}

#cpt{
    display: none;
}


.bgTextHorizontal {
    overflow: hidden;
    position: absolute;
    top : 0%;
    left : 0%;
    transform: translateX(-100%);
    width : fit-content;
    white-space: nowrap;
    font-size: 1.2em;
    z-index: -1;
}


.container {
    overflow: hidden;
    /* Fonctionne avec toutes les tailles */
    position: relative;
    width : 243vh ;
    height : 135vw ;
    /*transform: translateY(-50%);*/
    /* pour rotate on enlève le translate et on rajoute le rotate */
    transform:  rotate(-90deg);
    z-index : -1;
}

.bgTextVertical {
    white-space: nowrap;
    font-size: 1.2em;
}





#bgtext1 {}
#bgtext2 {}
#bgtext3 {}
#bgtext4 {}
#bgtext5 {}
#bgtext6 {}
#bgtext7 {}
#bgtext8 {}
#bgtext9 {}
#bgtext10 {}
#bgtext11 {}
#bgtext12 {}
#bgtext13 {}
#bgtext14 {}
#bgtext15 {}
#bgtext16 {}
#bgtext17 {}
#bgtext18 {}
#bgtext19 {}
#bgtext20 {}
#bgtext21 {}
#bgtext22 {}
#bgtext23 {}
#bgtext24 {}
#bgtext25 {}
#bgtext26 {}
#bgtext27 {}
#bgtext28 {}
#bgtext29 {}
#bgtext30 {}
#bgtext31 {}
#bgtext32 {}
#bgtext33 {}


#bgtext34 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext35 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext36 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext37 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext38 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext39 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext40 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext41 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext42 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext43 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext44 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext45 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext46 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext47 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext48 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext49 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext50 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext51 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext52 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext53 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext54 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext55 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext56 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext57 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext58 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext59 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext60 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext61 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext62 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext63 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext64 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext65 {
    position: absolute;
    top : 0%;
    left : 20%;
}
#bgtext66 {
    position: absolute;
    top : 0%;
    left : 20%;
}






.animateHorizontal {
    animation: 5s linear infinite scrollHorizontalTxt ;
}


.animateVertical {
    animation : 5s linear infinite scrollVerticalTxt ; 
}

  @keyframes scrollHorizontalTxt {
    0%{
      transform: translate(-77vw, 0);
    }
    100% {

      transform: translate(100vw, 0);
    }
  }

  @keyframes scrollVerticalTxt {
    0%{
        transform : translate(30vw, 0);
    }
    100%{
        transform : translate(120vw, 0);
    }
  }