main {
    margin-top : 16em; 
    width: 100%;
    height: auto;
    text-align: center;
}

html
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body
{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

button
{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: white;
    border: 2px solid black;
    padding: 2em;
    display : inline-block;
    max-width: 14em;
    /* width : 8em ;
    height : 8em ; */
}


button:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    cursor : pointer;
}



.shuffle {
    display : block;
}

.text{
    display: none;
}

.active{
    display: inline;
}

#cpt{
    display: none;
}


.bgtext {
    overflow: hidden;
    position: absolute;
    top: 40%;
    left : 0%;
    transform: translateX(-100%);
    width : fit-content;
    white-space: nowrap;
    font-size: 1.2em;
}










.animate {
    animation: 5s linear infinite scrollTxt ;
}


  @keyframes scrollTxt {
    0%{
      transform: translate(-100vw, 0);
    }
    100% {

      transform: translate(100vw, 0);
    }
  }