@font-face {
    font-family: 'Major Mono Display', monospace;
    src: url();
}

h1 {
    line-height: 0.4em;
    text-align: center;
}

p {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.explanation {
    margin-top: 15.5em;
    position: relative;
    z-index: 2;
}

.game {
    margin-top: 11.5em;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-child {
    max-width: 45%;
}

.space {
    margin-bottom: 0.8em;
}

.arrow-right-containeur{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 6vh;
    overflow: visible;
 
}

.arrow-right{
    transition: all 1s;
    fill: black;
}

.arrow-rigth-SVG:hover .arrow-right{
    transform: translateX(20px);
}
