.ligne{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

img{
 
    height: auto;
    object-fit: contain;
}
.titre{
    margin-left: 2em;
    font-size: larger;
}

.txtIMG{
    width: 50%;
    text-align: justify;
    margin: 2em;
}

.txtseul{
    width:80%;
    text-align: justify;
}

.center{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cercles{
    justify-content: space-between;
}

.circle-shadow{
    height: 10vh;
    width: 10vh;
}

.cercle1{
   left: 85%;
}

section{
    z-index: 2;
    position: relative;
}


@media screen and (max-width: 880px) {
   
    .ligne {
        flex-direction: column;
    }

    .ligne p{
        width: 100%;
    }
   
}