.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap : 2em;
}

.projectText{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectTitle{
    font-family: 'Sora', sans-serif;
}

.projectAuthor{
    font-style: italic;
}