.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap : 2em;
}

.project{
    text-decoration: none;
    color: black;
}

.projectText{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projectTitle{
    font-family: 'Sora', sans-serif;
    font-size: 1.2rem;
}

.projectAuthor{
    font-style: italic;
}

.project:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 930px) {
    .project img{
        width: 100%;
    }
}