@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap'); 

/*
~~~~~~~~~~~~~~Font family~~~~~~~~~~~~~~~~~~~~ 
    font-family: 'Major Mono Display', monospace;

    font-family: 'Nunito', sans-serif;

    font-family: 'Sora', sans-serif;
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

body{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

/*~~~~~~~~~~~Font~~~~~~~~~~~*/

h1, h2{
    font-family: 'Major Mono Display', monospace;
}

h1{
    font-size: 4rem;/*80pt*/
}

h2{
    font-size : 2.5rem;/*40pt*/
}

h3{
    font-family: 'Sora', sans-serif;
    font-size: 1.4rem;/*40pt*/
    font-weight: 400;/*regular*/
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;/*25pt*/
    font-weight: 400;/*regular*/
}

/* ~~~~~ BUTTONS ~~~~~ */

button {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid black;
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.6em;
}

.secondary {
    border-width: 1px;
    font-weight: 200; /* extra-light */
}

button:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}

/* ~~~~~~~~~~~~~~Add media queries for responsiveness~~~~~~~~~~~~~~ */

@media screen and (max-width: 930px) {
    h1 {
        font-size: 2.5rem;
    }
    p, button {
        font-size: 1rem;
    }
}