/* ~~~~~ TEXTS ~~~~~ */

@font-face {
    font-family: 'Major Mono Display', monospace;
    src: url();
}

h1 {
    line-height: 0.4em;
    text-align: center;
}

p {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

/* ~~~~~ CONTAINERS ~~~~~ */

.game {
    position: relative;
    z-index: 2;
    margin-top: 11em;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-child{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* ~~~~~ DECORATIONS ~~~~~ */

.underline{
    max-width: 50%;
    border-top: 1px solid #000;
}


.cercles{
    justify-content: space-between;
}

.circle-shadow{
    height: 10vh;
    width: 10vh;
}

.cercle1{
   left: 85%;
}


.animate {
    
    animation: 1s linear reel ;

} 

.come{
    animation: 1s linear come ;

}

.nav-buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#groupnum{
    display: none;
}

@keyframes reel {
    0%    { visibility: visible;
        margin-right: 10vw; }
    50%{ visibility: hidden;}
    100%  { visibility: hidden;
        margin-right: 50vw; }
  }

  @keyframes come {
    0%    { visibility: hidden;
        margin-left: 50vw; }
    50%{ visibility: visible;}
    100%  { visibility: visible;
        margin-left: 10vw; }
  }

/* ~~~~~ MARGINS/SPACES ~~~~~ */

.space {
    margin-bottom: 1em;
}

/* ~~~~~~~~~~~~~~Add media queries for responsiveness~~~~~~~~~~~~~~ */
@media screen and (max-width: 930px) {
    .game {
        margin-top: 9em;
    }
}
