/* ~~~~~ TEXTS ~~~~~ */

@font-face {
    font-family: 'Major Mono Display', monospace;
    src: url();
}

h1 {
    line-height: 0.4em;
    text-align: center;
}

p {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

/* ~~~~~ CONTAINERS ~~~~~ */

.game {
    position: relative;
    z-index: 2;
    margin-top: 11.5em;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-child{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* ~~~~~ DECORATIONS ~~~~~ */

.underline{
    text-decoration: underline;
    text-underline-offset: 5vh;
}


.cercles{
    justify-content: space-between;
}

.circle-shadow{
    height: 10vh;
    width: 10vh;
}

.cercle1{
    margin-left: 85vw;
}

/* ~~~~~ MARGINS/SPACES ~~~~~ */

.space {
    margin-bottom: 1em;
}
