.left {
    text-align: start;
    margin-top: 5em;
    margin-bottom: 5em;

}

.right{
    text-align: end;
    margin-top: 5em;
    margin-bottom: 5em;
}

.arrow-right-containeur{
    margin-top: 5em;
    transform : rotate(90deg);
}

.welcome{
    padding-top: 1em;
    text-align: center;
    margin-bottom: 2em;
}   
