/*============ GENERALS ============*/
body {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: auto;
    position: relative;
}

/*============  LUCHY  ============*/
.left {
    text-align: start;
    margin-top: 5em;
    margin-bottom: 5em;
}

.right{
    text-align: end;
    margin-top: 5em;
    margin-bottom: 5em;
}

.arrow-right-containeur{
    margin-top: 5em;
    transform : rotate(90deg);
}

.arrow-right{
    transition: all 1s;
    fill: black;
}

.arrow-rigth-SVG:hover .arrow-right{
    transform: translateX(20px);
}

.welcome{
    padding-top: 1em;
    text-align: center;
    margin-bottom: 2em;
}   


#oulipo{
    scroll-margin-top: 2em;
}


.cercles{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position : absolute;
    top: 0;
    justify-content: space-around;
}

.circle-shadow{
    height: 10vh;
    width: 10vh;
}

/*.cercle1{
    left: 10%;
}

.cercle2{
    left : 50%;
    bottom : 50%;
}*/

/*.cercle3{
    left : 30%;
}

.cercle4{
    left : 20%;
}

.cercle5{
    left : 10%;
}

.cercle6{
    left : 40%;
}*/



