/*~~~~~For common styling between homepage, expo and final projects~~~~~*/

section{
    margin-top: 8em !important;
    width: 75%;
    margin: auto;
    margin-bottom: 4em;
}

.grid{
    margin-top: 2em;
}