/* ~~~~~ TEXTS ~~~~~ */

@font-face {
    font-family: 'Major Mono Display', monospace;
    src: url();
}

h1 {
    text-align: center;
    margin: 1em;
}


p {
    margin: 0.3em;
    text-align: center;
}

.authors {
    font-weight: 200;
    max-width: none;
}

/* ~~~~~ BUTTONS ~~~~~ */

button, .unactiveMode {
    margin: 0.1em;
}

.activeMode {
    color: rgb(255, 255, 255);
    background-color: black;
    cursor : pointer;
}

/* ~~~~~ OPTIONS ~~~~~ */

.option{
    border: none;
    text-align: center;
    padding: 0.2em;
}

.option:hover, .option:focus {
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding: 0.165em;
}

.options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
}   

/* ~~~~~ CONTAINERS ~~~~~ */

.game {
    position: relative;
    z-index: 2;
    margin-top: 11em;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.2em;
}

.subnav-buttons {
    display: flex;
    flex-direction: row;
    gap: 3em;
    margin: 2em;
}

footer{
    position: relative;
    z-index: 2;
}

/* ~~~~~ CIRCLES ~~~~~ */

.cercles{
    justify-content: space-between;
}

.circle-shadow{
    height: 10vh;
    width: 10vh;
}

.cercle1{
    margin-left: 85vw;
}

/* ~~~~~ MARGINS/SPACES ~~~~~ */

.space {
    margin-bottom: 0.8em;
}

/* ~~~~~ PAGE ORIGINAL SONNETS ~~~~~ */

h3{
    text-align: center;
}

.sonnet{
    margin-bottom : 4em;
}

.fixedBtn button{
    position: fixed;
    bottom : 0;
    left : 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.fixedBtn button:hover{
    background-color: black;
}

/* ~~~~~~~~~~~~~~Add media queries for responsiveness~~~~~~~~~~~~~~ */
@media screen and (max-width: 930px) {
    .game {
        margin-top: 9em;
    }
    .options {
        flex-direction: column;
    }
    .option {
        max-width: 90%;
    }

    .cercles{
        justify-content: space-between;
    }
    
    .circle-shadow{
        height: 10vh;
        width: 10vh;
    }
    
    .cercle1{
        margin-left: 85vw;
    }
}