/* ~~~~~ TEXTS ~~~~~ */

@font-face {
    font-family: 'Major Mono Display', monospace;
    src: url();
}

h1 {
    line-height: 0.4em;
    text-align: center;
}

p {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

/* ~~~~~ OPTIONS/BUTTONS ~~~~~ */

.button {
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    border: 2px solid black;
    padding: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.6em;
}

.secondary {
    border-width: 1px;
    font-weight: 200;
}

.button:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}

.option{
    border: 1px dotted black;
    text-align: center;
    padding: 0.75em;
    max-width: 35%;
}

.option:hover{
    border: 2px solid;
    color: rgb(0, 0, 0);
    background-color: transparent;
    padding: 0.713em;
}

/* ~~~~~ CONTAINERS ~~~~~ */

.game {
    position: relative;
    z-index: 2;
    margin-top: 11.5em;
}

.options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2em;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    position: relative;
    z-index: 3;
}

/* ~~~~~ MARGINS/SPACES ~~~~~ */

.space {
    margin-bottom: 1em;
}
