/* ~~~~~ TEXTS ~~~~~ */

@font-face {
    font-family: 'Major Mono Display', monospace;
    src: url();
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 70px;
    line-height: 0.4em;
    text-align: center;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

/* ~~~~~ OPTIONS/BUTTONS ~~~~~ */

.option {
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 2px solid black;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.secondary {
    border-width: 1px;
}

.option:hover {
    color: rgb(255, 255, 255);
    background-color: black;
}

/* ~~~~~ CONTAINERS ~~~~~ */

.game {
    position: relative;
    z-index: 2;
    margin-top: 175px;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-child{
    border: 1px dotted black;
    padding: 10px;
    max-width: 500px;
}

footer{
    position: relative;
    z-index: 3;
}

/* ~~~~~ MARGINS/SPACES ~~~~~ */

.space {
    margin-bottom: 70px;
}
